.container {
  height: 100%;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid rgba(0, 0, 0, .12);
  &.mat-header-cell {
    text-align: center;
    &:first-child, &:last-child {
      padding: 0;
    }
  }
  &.mat-cell {
    padding: 8px;
    &:first-child, &:last-child {
      padding: 0;
      width: 100px;
      text-align: center;
    }
  }
}

tr {
  &:nth-child(even) {
    background-color: #dddddd;
  }
}

